create database empresa;
use empresa;
#region crear tablas
show tables;
select * from alumnos;
drop table if exists alumnos;
drop table if exists estados;
drop table if exists ciudades;
create table usuario(Idusuario int primary key auto_increment, nombre varchar(50), apellidopaterno varchar(50),
apellidomaterno varchar(50), contrasenia varchar(20));
create table alumnos(Idalumnos int primary key auto_increment, numerocontrol varchar(10), nombre varchar(50), apellidopaterno varchar(50),
apellidomaterno varchar(50), fechanacimiento varchar(10), domicilio varchar(50), email varchar(50), sexo varchar(50), estado varchar(3), ciudad varchar(200));
create table estados(codigo varchar(10) primary key, nombre varchar(100));
create table ciudades(codigociudad int auto_increment primary key, Nombre varchar(100), fkestado varchar(3), foreign key(fkestado) references estados(codigo));
create table estudios(Idestudio int auto_increment primary key, estudios varchar(100), documento varchar(200), fkprofesor varchar(100));
create table profesores(Idprofesor int primary key auto_increment, numerocontrol varchar(10), nombre varchar(50), apellidopaterno varchar(50), apellidomaterno varchar(50), 
domicilio varchar(100), estado varchar(100), ciudad varchar(100), numerocedula varchar(50), titulo varchar(100), fechanacimiento varchar(50));
create table materias(Id int primary key auto_increment, Idmateria varchar(50), nombre varchar(100), horasteoria int, horaspractica int,fkrelantes varchar(50), fkreldespues varchar(50), semestre varchar(30));
/*create table materias(Idmateria varchar(50) primary key, nombre varchar(100), horasteoria int, horaspractica int,fkrelantes varchar(50), semestre varchar(30),
foreign key(fkrelantes)references materias(Idmateria));*/
select @sigid := max(Id)+1 from materias;
create table escuela(Idescuela int auto_increment primary key, nombre varchar(200),rfc varchar(50), domicilio varchar(200),
telefono varchar(10), email varchar(100), pagina varchar(200), director varchar(100), logo varchar(200));
drop table escuela;
drop view v_materias;
create view v_materias as
select Id, Idmateria as 'Clavedemateria', nombre, horasteoria as 'Horasdeteoria', horaspractica as 'Horasdepractica',
fkrelantes as 'MateriaAnterior', fkreldespues as 'Materiaquesigue', semestre, 
(materias.horasteoria + materias.horaspractica) as 'Creditos'  
from materias;
drop table materias;
#end region
#region consultas e insertar datos
delete  from escuela;
select * from escuela;
select * from ciudades;
select * from estados;
select * from v_materias;
select @sigid;
delete from materias where Idmateria = 'FB9839';
delete from materias where Idmateria = 'TBD-2019';
insert into materias values(null,'BD-2019','Fundamentos de Bases de datos',2,3,null,null,'4to semestre');
insert into materias values(null, 'TBD-2019','Taller de Bases de datos',4,4,'BD-2019',null,'5to semestre');
/*insert into materias values('FBD2019','Fundamentos de Bases de datos',2,3,null,'4to semestre');
insert into materias values('TBD2019','Taller de Bases de datos',2,4,'FBD2019','5to semestre');*/
select * from materias;
insert into profesores values(null, 'D20190','jesus','Miranda', 'Moreno','hermosillo #37','JAL','Lagos de Moreno','0920193', 'Ing sistemas','15-07-2019');
insert into profesores values(null, 'D20180','josue','Miranda', 'Moreno','hermosillo #37','JAL','Lagos de Moreno','0920193', 'Ing sistemas','15-07-2019');
insert into estudios values(null, 'Java', 'equis', 1);
describe ciudades;
describe profesores;
select * from estudios;
insert into estudios values(null,'equis','equis','josue');
insert into estudios values(null,'equis','equis','jesus');
drop table estudios;
drop table profesores;
select nombre from ciudades where fkestado = 'CMX';
select * from profesores;
Select * from estudios where fkprofesor = 'josue';
#end region
#region insertar datos
select * from ciudades;
insert into estados values('AGU','Aguascalientes');
insert into estados values('BCN','Baja California');
insert into estados values('BCS','Baja California Sur');
select * from estados;
select * from ciudades;
insert into ciudades values(null,'Aguascalientes','AGU');
insert into ciudades values(null,'Asientos','AGU');
insert into ciudades values(null,'Calvillo','AGU');
/*Aqui ya inserte*/
/*Aqui ya*/
/*Aqui ya*/
/*Aqui ya*/
/*Aqui ya*/
#end region
#region morelia

#end region
#region nararit

#end region
#region nuevo leon

#end region
#region oaxaca

#end region
#region puebla


#end region
#region queretaro

#end region
#region Quintana roo

#end region
#region san luis

#end region
#region sinaloa

#end region
#region sonora

#end region
#region tabasco

#end region
#region tamaulipas

#end region
#region tlaxcala

#end region
#region veracruz

#end region
#region yucatan

#end region
#region zacatecas

#end region